<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Windchill_Automation">
	<listeners>
		<listener
			class-name="com.whirlpool.windchillautomation.qa.ExtentReport.ExtentReportListener" />
	</listeners>

	<test name="TestBasicFunctionality">
		<classes>

			<class name="com.whirlpool.windchillautomation.qa.testcases.LoginTest" />

		</classes>
	</test>
</suite>



